@font-face {
  font-family: "clash-semibold";
  src: url("./fonts/ClashDisplay-Semibold.otf");
}
@font-face {
  font-family: "switzer-regular";
  src: url("./fonts/Switzer-Regular.otf");
}
@font-face {
  font-family: "jb-regular";
  src: url("./fonts/JetBrainsMono-Regular.ttf");
}
:root {
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --section-color: #000000;
  --section-0-color:#16d2c0;
  --section-1-color:#e44769;
  --section-2-color:#e5c912;
  --section-3-color:#3e00b2;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "switzer-regular";
  background-color: rgb(255, 255, 255);
}
a {
  color: inherit;
  text-decoration: none;
}
