@font-face {
  font-family: satoshi-black;
  src: url(../fonts/Satoshi-Black.otf);
}

@font-face {
  font-family: satoshi-medium;
  src: url(../fonts/Satoshi-Medium.otf);
}

@font-face {
  font-family: satoshi-regular;
  src: url(../fonts/Satoshi-Regular.otf);
}

@font-face {
  font-family: clash-bold;
  src: url(../fonts/ClashDisplay-Bold.otf);
}

@font-face {
  font-family: clash-medium;
  src: url(../fonts/ClashDisplay-Medium.otf);
}

@font-face {
  font-family: clash-regular;
  src: url(../fonts/ClashDisplay-Regular.otf);
}

:root {
  --black: #000000;
  --white: #ffffff;
  --transparent: #ffffff00;
  --pastel: #F9F2DB;
  --orange: #ff4000;
  --orange-blended: #ff855c;
  --orange-dimmed: #8f2400;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--orange);

  margin: 0;
  padding: 0;
  color: var(--white);
}


.title {
  font-family: "clash-bold";
  font-size: 64px;
}

.heading-1 {
  font-family: "clash-bold";
  font-size: 48px;
}

.heading-2 {
  font-family: "clash-bold";
  font-size: 36px;
  line-height: 30px;
}

.heading-3 {
  font-family: "clash-bold";
  font-size: 24px;
}

.heading-4 {
  font-family: "clash-bold";
  font-size: 24px;
}


.text {
  font-family: "satoshi-medium";
  font-size: 24px;
}

.button {
  font-family: "clash-medium";
  font-size: 16px;

}