@media only screen and (min-width: 768px) {
    .texture {
        position: fixed;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;

        background-image: url("../media/texture.png");
        background-size: cover;

        opacity: 0.1;

        z-index: 10;

        display: none;
    }
}