.intro-grid {
  display: grid;
  grid-template-columns: repeat(4, 25vw);
  grid-template-rows: repeat(4, 25vh);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.grid-item-text {
  font-family: "switzer-regular";
  font-size: 24px;
  color: rgba(255, 255, 255, 0.1);
}

.grid-item-1,
.grid-item-2,
.grid-item-3,
.grid-item-4,
.grid-item-5 {
  display: flex;
  align-items: flex-end;
  justify-content: left;
}

.grid-item-1 {
  grid-area: 1 / 1 / 4 / 2;
  justify-content: center;
}

.grid-item-2 {
  grid-area: 1 / 2 / 4 / 3;
}

.grid-item-3 {
  grid-area: 1 / 3 / 4 / 4;
}

.grid-item-4 {
  grid-area: 1 / 4 / 5 / 5;
  align-items: center;
  justify-content: left;
}

.grid-item-5 {
  grid-area: 4 / 1 / 5 / 4;
  align-items: center;
  justify-content: center;
}

.grid-item-1-bubble,
.grid-item-2-bubble,
.grid-item-3-bubble,
.grid-item-4-bubble,
.grid-item-5-bubble {
  border: none;
  border-radius: 20px;
  background-color: #101010;
}

.grid-item-1-bubble,
.grid-item-2-bubble,
.grid-item-3-bubble {
  height: calc(75vh - 10px);
}
.grid-item-1-bubble {
  width: calc(25vw - 20px);
}
.grid-item-2-bubble,
.grid-item-3-bubble,
.grid-item-4-bubble {
  width: calc(25vw - 10px);
}

.grid-item-4-bubble {
  height: calc(100vh - 20px);
}

.grid-item-5-bubble {
  width: calc(75vw - 20px);
  height: calc(25vh - 20px);
  background-color: #0f0f0f;
}

.title {
  font-family: "clash-semibold";
  font-size: 72px;
  color: rgb(147, 255, 31);
}

@keyframes showSection {
  100% {
    opacity: 100%;
  }
}

@keyframes moveSection {
  100% {
    top: 10px;
    left: calc(100vw - 30px);
  }
}

@keyframes expandSection {
  100% {
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    left: calc(10px);
  }
}
