.notes {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    min-height: 100%;
}

.notes div {
    position: absolute;
}

.note-1 {
    top: 25vh;
    left: 37.5vw;
}

.note-2 {
    bottom: 100px;
    left: 12.5vw;
}