.projects {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(6, 240px);
    grid-template-rows: repeat(6, 80px);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
  
  .projects-grid-item {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
  }
  
  .project-grid-item-1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .project-grid-item-2 {
    grid-area: 1 / 2 / 3 / 3;
  }
  .project-grid-item-3 {
    grid-area: 2 / 1 / 5 / 2;
  }
  .project-grid-item-4 {
    grid-area: 5 / 1 / 7 / 3;
  }
  .project-grid-item-5 {
    grid-area: 3 / 2 / 5 / 4;
  }
  .project-grid-item-6 {
    grid-area: 1 / 3 / 3 / 6;
  }
  .project-grid-item-7 {
    grid-area: 5 / 3 / 7 / 5;
  }
  .project-grid-item-8 {
    grid-area: 3 / 4 / 5 / 7;
  }
  .project-grid-item-9 {
    grid-area: 1 / 6 / 3 / 7;
  }
  .project-grid-item-10 {
    grid-area: 5 / 5 / 7 / 7;
  }