@media only screen and (min-width: 768px) {
  .projects {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
  }

  .projects-title {
    font-family: "clash-semibold";
    font-size: 36px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
  }

  .projects-skillset {
    position: relative;
  }

  .projects-skillset-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;

    background: linear-gradient(45deg, #341e15, #663d2c, #341e15);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
  }

  .projects-skillset-fill {
    position: absolute;
    top: 4px;
    left: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 92px;
    height: 92px;

    background: linear-gradient(#422418, #311d15);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 10px;
  }

  .projects-skillset-fill img {
    color: white;
  }

  .project {
    position: relative;

    width: 500px;
    height: 160px;

    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.25);
  }

  .project-details {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .project-title {
    font-family: "clash-semibold";
    font-size: 28px;
    color: rgba(0, 0, 0, 0.5);
  }

  .project-description {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    max-width: 260px;
  }

  .project-links {
    position: absolute;

    bottom: 20px;
    right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project-links a {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.2);
    margin-left: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .projects {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
  }

  .projects-title {
    font-family: "clash-semibold";
    font-size: 36px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-bottom: 10px;
  }

  .projects-skillset {
    position: relative;
  }

  .projects-skillset-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;

    background: linear-gradient(45deg, #341e15, #663d2c, #341e15);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
  }

  .projects-skillset-fill {
    position: absolute;
    top: 4px;
    left: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 92px;
    height: 92px;

    background: linear-gradient(#422418, #311d15);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: auto;
    column-gap: 10px;
    row-gap: 10px;
  }

  .projects-skillset-fill img {
    color: white;
  }

  .project {
    position: relative;

    width: 80vw;
    height: 160px;

    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.25);
  }

  .project-details {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .project-title {
    font-family: "clash-semibold";
    font-size: 28px;
    color: rgba(0, 0, 0, 0.5);
  }

  .project-description {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    max-width: 260px;
  }

  .project-links {
    position: absolute;

    bottom: 20px;
    right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project-links a {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    cursor: wait;
    pointer-events: none;
  }
}