.section-window-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    pointer-events: none;
  }
  
  #section-window {
    opacity: 0;
  }
  
  .section-window-active {
    position: relative;
    top: calc(100vh - 30px);
    left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: var(--section-color);
    transition-timing-function: cubic-bezier(0, 0.45, 0.5, 1);
    animation: showSection 1s forwards, moveSection 1s 1s forwards,
      expandSection 1s 2s forwards;
  }