
.footer {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer .box {

    width: 900px;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.footer .box div {
    font-family: "satoshi-black";
    font-size: 48px;
    color: var(--orange-dimmed);

    cursor: pointer;
}

.footer .box div:hover {
    color: var(--white);
    transition-duration: 0.2s;
}

.footer .box div:not(:hover) {
    transition-duration: 0.2s;
}