@media only screen and (min-width:780px) {

    #hero .hero-title {
        position: absolute;
        top: 25vh;
        left: 12.5vw;
        width: 39vw;
        height: 170px;

        margin: 0;
        padding: 0;

        color: var(--black);
    }

    #hero .hero-description {
        position: absolute;
        top: calc(25vh + 160px);
        left: calc(12.5vw + 20px);
        width: 26vw;
        height: 70px;

        margin: 0;
        padding: 0;

        color: var(--accent);
    }

    #hero .hero-graphic-container {
        position: absolute;
        top: 25vh;
        right: 12.5vw;

        width: 25vw;
        height: 50vh;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #hero .hero-graphic {
        position: relative;
        height: 400px;
        width: 400px;
    }

    #hero .hero-graphic .drill {
        position: absolute;
        top: 0;
        left: 0;

        height: 400px;
        width: 400px;
        overflow: hidden;

        display: flex;
        align-items: center;
        justify-content: space-evenly;

        border: 2px solid var(--pencil);
        border-radius: 250px;

        rotate: 45deg;

        cursor: pointer;
    }

    #hero .hero-graphic .drill:hover {
        rotate: 0deg;
        scale: 1.1;
        transition-duration: 0.4s;
    }

    #hero .hero-graphic .drill:not(:hover) {
        transition-duration: 0.4s;
    }

    #hero .hero-graphic .drill:active {
        rotate: 90deg;
        scale: 1;
        transition-duration: 0.2s;
    }

    #hero .hero-graphic .drill div {
        height: 400px;
        width: 1px;
        background-color: var(--pencil);
    }

    #hero .hero-graphic .hole {
        position: absolute;
        top: 50px;
        left: 50px;

        height: 300px;
        width: 300px;
        overflow: hidden;

        display: flex;
        align-items: center;
        justify-content: space-evenly;

        background-color: var(--white);
        border: 2px solid var(--pencil);
        border-radius: 250px;

        pointer-events: none;

        font-family: "JB";
        font-size: 24px;
        color: var(--pencil);
    }
}

@media only screen and (max-width:780px) {
    #hero {
        position: relative;
        text-align: center;
        padding-bottom: 200px;
    }

    #hero .hero-title {
        padding-top: 100px;

        width: 100%;
        font-size: 42px;
        color: var(--black);

    }

    #hero .hero-description {
        padding-top: 10px;
        width: 100vw;
        color: var(--accent);
        font-size: 21px;
    }

    #hero .hero-graphic-container {
        position: relative;

        padding-top: 100px;


        display: flex;
        align-items: center;
        justify-content: center;
    }



    #hero .hero-graphic {
        position: relative;
        height: 200px;
        width: 200px;
    }

    #hero .hero-graphic .drill {
        position: absolute;
        top: 0;
        left: 0;

        height: 200px;
        width: 200px;
        overflow: hidden;

        display: flex;
        align-items: center;
        justify-content: space-evenly;

        border: 2px solid var(--pencil);
        border-radius: 200px;

        rotate: 45deg;

        cursor: pointer;
    }

    #hero .hero-graphic .drill:hover {
        rotate: 0deg;
        scale: 1.1;
        transition-duration: 0.4s;
    }

    #hero .hero-graphic .drill:not(:hover) {
        transition-duration: 0.4s;
    }

    #hero .hero-graphic .drill:active {
        rotate: 90deg;
        scale: 1;
        transition-duration: 0.2s;
    }

    #hero .hero-graphic .drill div {
        height: 200px;
        width: 1px;
        background-color: var(--pencil);
    }

    #hero .hero-graphic .hole {
        position: absolute;
        top: 10px;
        left: 10px;

        height: 180px;
        width: 180px;
        overflow: hidden;

        display: flex;
        align-items: center;
        justify-content: space-evenly;

        background-color: var(--white);
        border: 2px solid var(--pencil);
        border-radius: 250px;

        pointer-events: none;

        
        font-family: "JB";
        font-size: 18px;
        color: var(--pencil);
    }
}