@font-face {
  font-family: "satoshi";
  src: url(./Satoshi-Variable.ttf);
}

:root {
  --black: #000000;
  --white: #ffffff;
  --pencil: #dddddd;
  --accent: #ff5100;
}

:root,
body {
  margin: 0;
  padding: 0;
}

.font-title {
  font-family: "satoshi";
  font-size: 96px;
  font-weight: 1000;
  letter-spacing: -0.05em;
  line-height: calc(75%);
}

.font-h1 {
  font-family: "satoshi";
  font-size: 72px;
  font-weight: 1000;
  letter-spacing: -0.05em;
  line-height: calc(75%);
}

.font-h2 {
  font-family: "satoshi";
  font-size: 64px;
  font-weight: 1000;
  letter-spacing: -0.05em;
  line-height: calc(75%);
}

.font-h3 {
  font-family: "satoshi";
  font-size: 56px;
  font-weight: 1000;
  letter-spacing: -0.05em;
  line-height: calc(75%);
}

.font-h4 {
  font-family: "satoshi";
  font-size: 48px;
  font-weight: 1000;
  letter-spacing: -0.05em;
  line-height: calc(75%);
}

.font-text {
  font-family: "satoshi";
  font-size: 36px;
  font-weight: 1000;
  letter-spacing: -0.05em;
  line-height: calc(75%);
}