.about {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.about .paragraph {

    width: fit-content;
    height: fit-content;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 200px;

}

.about .info,
.about .media {
    position: relative;

    width: 600px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.about .media {
    align-items: flex-end;
}

.about .media {

    font-style: italic;
}
